{% extends "common/base.html" %}

{% block content %}
            <div class="row justify-content-center">
<div class="container">
  <div class="row">
    <div class="col">
     <div class="post-thumbnail"><img src="/static/img/GN-BIO.png" alt="Picture of Gary Napier"></div>
    </div>
    <div class="col">
        <h1>Gary Napier</h1><br>
        <p>Gary is a consulting network engineer </p>
    </div>
  </div>
    <h1>LIVE CV</h1>
    <div class="row">
    <div class="col">
     Table of certs
    </div>
    <div class="col">
        lots of nice certs
    </div>
  </div>
</div>
            </div>

{% endblock %}