{% extends "splash.html" %}

{% block content %}
<div class="container">
            <div class="row justify-content-center">

<!-- Single Blog Post -->
                                                <div class="single-blog-post">
                                                    <!-- Post Thumbnail -->
                                                    <div class="post-thumbnail">
                                                        <img src="/static/img/blog-img/b2.jpg" alt="">
                                                        <!-- Catagory -->
                                                        <div class="post-cta"><a href="#">Post #1</a></div>
                                                    </div>
                                                    <!-- Post Content -->
                                                    <div class="post-content">
                                                        <a href="#" class="headline">
                                                            <h5>Network Diver new website launches in July!</h5>
                                                        </a>
                                                        <p>Check Back soon to see how we are building a web marvel</p>
                                                        <!-- Post Meta -->
                                                        <div class="post-meta">
                                                            <p><a href="#" class="post-author">Gary Napier</a> on <a href="#" class="post-date">June 28, 2020 at 9:48 pm</a></p>
                                                        </div>
                                                    </div>
                                                </div>
                                        </div>
    </div>

{% endblock %}